body,
html,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg);
}

:root {
  --main-bg: #161a37;
  --cyan-color: #59c07d;
  --white-color: #ffffff;
  --text-color: rgb(39, 39, 39);
}
